<!DOCTYPE html>
<html>

  <head>
    <script src="angular.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <header>
    <h1>Submit Photo</h1>
  </header>

  
  
  <div class = browse>  
  <body id= "browse" ng-app="app" ng-controller="ctrl">
      <div class="container">
      <img src="./images/camera.png" alt="camera">
      <div class="upload-btn-wrapper">
      <button class="btn" id="submitphoto">Submit photo </button>
      <input type="file" name="iptfileupload" onchange='show()'return-files ng-model="files"/>
      <p><img src='1.jpg' 
        onload='if (this.width>400 || this.height>600) if (this.width/this.height>2/3) this.width=400; else this.height=600;' 
        onclick="picture_rotate(this)"
        alt='' id='img'/></p>
  
    </div>
    </div>
  </div>


      
      
      

      <br>
          <p>Click the button to get your coordinates.</p>

          <button class = submit onclick="getLocation()" ng-click="upload(files)">Add location</button>
          
          <p id="location here"></p>
          
          <script>
          var x = document.getElementById("location here");
          
          function getLocation() {

            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
              x.innerHTML = "Geolocation is not supported by this browser.";
            }
          }
          
          function showPosition(position) {
            
            // "Latitude: " + position.coords.latitude + 
            // "<br>Longitude: " + position.coords.longitude;
            const lat = position.coords.latitude;
            const long = position.coords.longitude;
            const urlAddress = "https://us1.locationiq.com/v1/reverse.php?key=5a66057ee3efb4&lat=" + lat + "&lon=" + long + "&format=json";
            console.log(urlAddress);
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": urlAddress,
              "method": "GET"
            }

            $.ajax(settings).done(function (response) {
              
              const adressToShow = response["display_name"];
              console.log(adressToShow);
              x.innerHTML = "Location: " + adressToShow;
            });
          }
          </script>
          <br>
          <br>
      <a class = submit href="./SUCCESSFULLY-SENT.html" ng-disabled="!files"
         >Submit</a>
      <div class = category> 
    <p>Category: {{category}}</p>

    
      </div>

  


  <div name = Back>
      <a id = "Home" href="./index.html">Back</a>
    </div>
  


  <script type="text/javascript">


      
      function getPath(obj,fileQuery,transImg) {
          var imgSrc = '', imgArr = [], strSrc = '' ;

          if(window.navigator.userAgent.indexOf("MSIE")>=1){
              if(obj.select){
                  obj.select();
                  var path=document.selection.createRange().text;
                  alert(path) ;
                  obj.removeAttribute("src");
                  imgSrc = fileQuery.value ;
                  imgArr = imgSrc.split('.') ;
                  strSrc = imgArr[imgArr.length - 1].toLowerCase() ;
                  if(strSrc.localeCompare('jpg') === 0 || strSrc.localeCompare('jpeg') === 0 || strSrc.localeCompare('gif') === 0 || strSrc.localeCompare('png') === 0){
                      obj.setAttribute("src",transImg);
                      obj.style.filter=
                          "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+path+"', sizingMethod='scale');";  // IE通过滤镜的方式实现图片显示
                  }else{
                      throw new Error('File type Error! please image file upload..');  
                  }
              }else{
                  imgSrc = fileQuery.value ;
                  imgArr = imgSrc.split('.') ;
                  strSrc = imgArr[imgArr.length - 1].toLowerCase() ;
                  if(strSrc.localeCompare('jpg') === 0 || strSrc.localeCompare('jpeg') === 0 || strSrc.localeCompare('gif') === 0 || strSrc.localeCompare('png') === 0){
                      obj.src = fileQuery.value ;
                  }else{
                      throw new Error('File type Error! please image file upload..') ;
                  }

              }

          } else{
              var file =fileQuery.files[0];
              var reader = new FileReader();
              reader.onload = function(e){

                  imgSrc = fileQuery.value ;
                  imgArr = imgSrc.split('.') ;
                  strSrc = imgArr[imgArr.length - 1].toLowerCase() ;
                  if(strSrc.localeCompare('jpg') === 0 || strSrc.localeCompare('jpeg') === 0 || strSrc.localeCompare('gif') === 0 || strSrc.localeCompare('png') === 0){
                      obj.setAttribute("src", e.target.result) ;
                  }else{
                      //try{
                      throw new Error('File type Error! please image file upload..') ;
                      //}catch(e){
                      //  alert('name: ' + e.name + 'message: ' + e.message) ;
                      //}
                  }

                  // alert(e.target.result); 
              }
              reader.readAsDataURL(file);
          }
      }

      function show() {
        var preview = document.querySelector('img');
        var file    = document.querySelector('input[type=file]').files[0];
        var reader  = new FileReader();

        reader.addEventListener("load", function () {
          preview.src = reader.result;
          var element = document.getElementById('submitphoto');
          element.parentNode.removeChild(element);
          
        }, false);

        if (file) {
          reader.readAsDataURL(file);
        }

      }

  </script>
  </body>


